body {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

#outer-box {
    width: max-content;
    border: 2px solid black;
    /* margin: auto; */
    padding: 1px;
}

#pre-table {
    padding: 0 4px;
}

h1 {
    margin: -4px 0;
    text-align: center;
    font-weight: 800;
}

hr {
    margin: 0;
    border: 0.5px solid black;
}

td hr {
    margin-top: 4px;
}


td:first-child hr {
    margin-right: -10px;
}

hr.thicc {
    border: 4px solid black;
    margin-bottom: 8px;
}

hr.thiccc {
    border: 8px solid black;
    margin-bottom: 8px;
}

#servings {
    /* text-align: center; */
    margin: 2px;
}

.lightweight {
    font-stretch: condensed;
}

table {
    border-collapse: collapse;
    background-color: white;
    /* maybe delete this */
}

th {
    font-weight: lighter;
    font-stretch: condensed;
    text-align: center;
}

td {
    padding: 2px 3px;
    width: 55px;
}

td:first-child {
    width: 160px;
    font-weight: bold;
}

td:last-child {
    border-left: 1.4px solid black;
}

#calories {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#calories td:first-child {
    text-align: left;
}

.subset {
    font-weight: normal;
    padding-left: 12px;
}

.grams {
    text-indent: 2px;
}

.dv {
    float: right;
    font-weight: bold;
}


#vitamins tr td {
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

#vitamins tr td:first-child {
    text-align: left;
    font-weight: lighter;
}