body {
    font-family: Helvetica, sans-serif;
}

#outer-box {
    width: max-content;
    border: 2px solid black;
    margin: auto;
    padding: 1px;
}

#pre-table {
    padding: 0 4px;
}

h1 {
    margin: -4px 0;
    text-align: center;
    font-weight: 800;
}

hr {
    margin: 0;
}

hr.thin {
    border: 0.4px solid black;
}

hr.thicc {
    border: 4px solid black;
}

hr.thiccc {
    border: 8px solid black;
}

#servings {
    /* text-align: center; */
    margin: 2px;
}

.lightweight {
    font-stretch: condensed;
}

table {
    margin-top: 4px;
    border-collapse: collapse;
}

th {
    font-weight: lighter;
    font-stretch: condensed;
    text-align: center;
}

td {
    padding: 3px;
    width: 55px;
}

td:first-child {
    width: 150px;
}

td:last-child {
    border-left: 1.4px solid black;
}

#calories {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#calories td:first-child {
    text-align: left;
}

.grams {
    padding-left: 6px;
}

.dv {
    float: right;
    font-weight: bold;
}