body {
    font-family: Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: small;
}

a {
    color: black;
    text-decoration: none;
}

#buttons {
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
}

button {
    transition: 100ms;
    cursor: pointer;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    border-width: 0;
}

button.active {
    margin: 0;
    padding: 8px 13px;
    border-radius: 0;
}

button:hover {
    transition: 200ms;
}

button.main-dish:hover {
    background-color: #7040c0;
    color: #ffffff;
}

button.side-dish:hover {
    background-color: #00f0f0;
}

button.soup:hover {
    background-color: #908000;
    color: #ffd969;
}

button.breakfast:hover {
    background-color: #ffd860;
    color: #402000;
}

button.bread:hover {
    background-color: #804810;
    color: #fff3cc;
}

button.drink:hover {
    background-color: #00a060;
    color: #ffffff;
}

button.dessert:hover {
    background-color: #ff5050;
    color: #ffffff;
}

#recipe-list {
    width: 100%;
    max-width: max-content;
    margin: auto;
}

#recipe-list div {
    display: flex;
    padding: 5px;
    align-items: center;
}

#recipe-list a>div:hover {
    transition: 250ms;
    background-color: #ffffff !important;
}

#recipe-list a>div {
    transition: 250ms;
}

#recipe-list a>div.even {
    background-color: #ffffff80;
}

#recipe-list div div {
    margin: 6px;
    margin-right: 0;
    padding: 3px 8px 4px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
}

#recipe-list .name {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-size: 20px;
    font-weight: lighter;
}

.main-dish {
    background-color: #483060;
    color: #eeddff;
}

.side-dish {
    background-color: #00cccc;
}

.bread {
    background-color: #a37446;
    color: #fff0e0;
}

.breakfast {
    background-color: #ffcc33;
}

.dessert {
    background-color: #fff8f8;
    color: #ff0000;
}

.drink {
    background-color: #006439;
    color: #eefff8;
}

.soup {
    background-color: #6c641e;
    color: #ffcc77;
}